<%= include src/templates/partials/header.ejs %>

<div class="row">
  <div class="col-12 col-md-6 col-lg-5 col-xl-4 order-2 order-md-1">
    <h5 class="text-center">Hours</h5>

    <table class="table table-striped table-bordered table-mapping">
      <tbody>
        <tr class="text-muted bt-0">
          <td class="text-muted">Monday</td>
          <td>CLOSED</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>10am - 6pm</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>10am - 6pm</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>10am - 6pm</td>
        </tr>
        <tr class="text-muted">
          <td>Friday</td>
          <td>CLOSED</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>10am - 2pm<br>(every other Saturday)</td>
        </tr>
        <tr class="text-muted">
          <td>Sunday</td>
          <td>CLOSED</td>
        </tr>
      </tbody>
    </table>

    <div class="mt-md-4">
      <h5 class="text-center">Contact</h5>

      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <td class="font-weight-bold pl-0 py-1">Telephone:</td>
            <td class="w-100 pl-3 py-1"><a href="tel:+16516364049">(651) 636-4049</a></td>
          </tr>
          <tr>
            <td class="font-weight-bold pl-0 py-1">Email:</td>
            <td class="w-100 pl-3 py-1"><a href="mailto:aarkadv@comcast.net">aarkadv@comcast.net</a></td>
          </tr>
        </tbody>
      </table>

<!--       <p class="border-top pt-2">
        <span class="font-weight-bold">Telephone:</span> <a href="tel:+16516364049">(651) 636-4049</a>
        <br>
        <span class="font-weight-bold">Email:</span> <a href="mailto:aarkadv@comcast.net">aarkadv@comcast.net</a>
      </p>
 -->
      <p>Appointments and cancellations must be done through the business phone number.</p>

      <p>If unanswered, please leave a message and your phone call will be returned as soon as possible. Remember to leave your name and a phone number where you can be reached at.</p>

      <p>Text messages and email are only to be used when unable to reach by phone. Always make sure to confirm emails and text messages.</p>
    </div>
  </div>



  <div class="col-12 col-md-6 col-lg-7 col-xl-8 order-1 order-md-2 mb-3 px-xl-4">
    <h5 class="text-center">Location</h5>
    <div class="map-responsive">
      <iframe class="border" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11272.5333943322!2d-93.2081434921265!3d45.06280595578036!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2af4e30053909219!2sAark+Advanced+Electrolysis!5e0!3m2!1sen!2sus!4v1550380340967" width="800" height="600" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="small text-muted text-lg-center">
      Aark Advanced Electrolysis is located south of 694 and west of 35W in New Brighton, at 704 9th Avenue NW.
    </div>
  </div>
</div>

<%= include src/templates/partials/footer.ejs %>
