<%= include src/templates/partials/header.ejs %>

<div class="mr-0 mr-md-5">
  <h5 class="mb-3">Education</h5>

  <p>Continuing education is essential for an electrologist, and is something I take very seriously by constantly taking educational courses and through ongoing certifications. You can find out more about my experience on <a href="http://www.linkedin.com/pub/diane-christofferson/10/245/a13">LinkedIn</a>.

  <h5 class="mb-3">Certifications</h5>

  
</div>

<%= include src/templates/partials/footer.ejs %>
