<%= include src/templates/partials/header.ejs %>

<div class="mr-0 mr-md-5">
  <h5 class="mb-3">Education</h5>

  <p>Continuing education is essential for an electrologist, and is something I take very seriously by constantly taking educational courses and through ongoing certifications. You can find out more about my experience on <a href="http://www.linkedin.com/pub/diane-christofferson/10/245/a13">LinkedIn</a>.

  <h5 class="mb-3">Certifications</h5>
    <div class="row">
      <a href="/images/education/American Electrology Association.jpg" data-title="American Electrology Association" data-toggle="lightbox" data-gallery="education-gallery" class="col-sm-4 mb-3">
          <img src="/images/education/American Electrology Association.jpg" class="img-fluid">
      </a>
      <a href="/images/education/Americana Academy License.jpg" data-title="Americana Academy License" data-toggle="lightbox" data-gallery="education-gallery" class="col-sm-4 mb-3">
          <img src="/images/education/Americana Academy License.jpg" class="img-fluid">
      </a>
      <a href="/images/education/Clareblend Certificate.jpg" data-title="Clareblend Certificate" data-toggle="lightbox" data-gallery="education-gallery" class="col-sm-4 mb-3">
          <img src="/images/education/Clareblend Certificate.jpg" class="img-fluid">
      </a>
      <a href="/images/education/Electrology Diploma.jpg" data-title="Electrology Diploma" data-toggle="lightbox" data-gallery="education-gallery" class="col-sm-4 mb-3">
          <img src="/images/education/Electrology Diploma.jpg" class="img-fluid">
      </a>
      <a href="/images/education/Naturopathic Wellness Coaching.jpg" data-title="Naturopathic Wellness Coaching" data-toggle="lightbox" data-gallery="education-gallery" class="col-sm-4 mb-3">
          <img src="/images/education/Naturopathic Wellness Coaching.jpg" class="img-fluid">
      </a>
      <a href="/images/education/U of M Degree.jpg" data-title="University of Minnesota Degree" data-toggle="lightbox" data-gallery="education-gallery" class="col-sm-4 mb-3">
          <img src="/images/education/U of M Degree.jpg" class="img-fluid">
      </a>
      <a href="/images/education/WI Electrology Association Certificate.jpg" data-title="WI Electrology Association Certificate" data-toggle="lightbox" data-gallery="education-gallery" class="col-sm-4 mb-3">
          <img src="/images/education/WI Electrology Association Certificate.jpg" class="img-fluid">
      </a>
    </div>
</div>

<%= include src/templates/partials/footer.ejs %>
