<%= include src/templates/partials/header.ejs %>

<div class="row">
  <div class="col-12 col-md-8 order-2 order-md-1">
    <p>Welcome to the business of permanent hair removal!</p>

    <p>I&rsquo;m Diane Christofferson, and I have had my electrolysis business in the Twin Cities area since 1990. I was first introduced to permanent hair removal when I was a Cosmetologist in 1978. I attended St. Cloud Electrology School and became certified and began practicing the same year.</p>

    <p>Being a Licensed Cosmetologist and Esthetician, my interests lie in self-improvement. I believe in continuing
    education and professional service to my customers. My mission is to:</p>

    <ul>
      <li>Professionally remove unwanted hair permanently</li>
      <li>Use the highest quality of sterilization procedures</li>
      <li><a href="/education/">Continuously educate myself</a> in electrolysis and other forms of permanent hair removal</li>
      <li>Provide friendly service and respect my clients wishes, regardless of their gender or gender presentation</li>
    </ul>

    Five important reasons for patronizing me:

    <ol>
      <li>Free consultations</li>
        <li>Flexible hours for all clients</li>
        <li>Reasonable one-hour pricing, along with package savings</li>
        <li>Every client will be satisfied with each service</li>
        <li>Free off-street parking that allows privacy for each client</li>
    </ol>

    <p>Please check our <a href="/services/electrolysis/">frequently asked questions</a> for more information on electrolysis, the products we use, and the services we offer. All customers are welcome and appreciated. Referrals are the greatest compliment you can give me.
    </p>
  </div>

  <div class="col-12 col-md-4 order-1 order-md-2 mb-3 text-center small">
    <img id="profile-picture" class="img-fluid" src="/images/diane-2018.jpg" alt="Diane C. Christofferson" />
    <div class="font-weight-bold mb-1">Diane C. Christofferson</div><em>Certified Professional Electrologist,<br />Licensed Cosmetologist, Licensed Esthetician<br />Certified Natural Health Professional</em>
  </div>
</div>

<%= include src/templates/partials/footer.ejs %>
