<%= include src/templates/partials/header.ejs %>

<div class="row">
  <div class="col-12 col-md-8 order-2 order-md-1">
    <p>Aark Electrolysis will be reopening on <span class="font-weight-bold">May 5th</span>, in accordance with Governor Walz's directives. I will be using the following guidance, as recommended by the CDC:</p>

    <ol>
      <li>Temperatures will be administered five minutes before clients enter my office. Clients experiencing a fever will be asked to reschedule.</li>
      <li>Clients will wash their hands before their treatment begins.</li>
      <li>Clients will be offered the opportunity to wash their hands after treatment.</li>
      <li>Young Living products will be used for my standard of hygiene, with added cleaning products.</li>
      <li>All equipment will be sanitized before and after clients, in addition to the usual sterilization. I will be booking extra time to make this happen, and appreciate your patience if this results in any delays.</li>
      <li>I will be personally be wearing protective CDC recommended gear, including mask and gloves.</li>
      <li>I ask that clients experiencing symptoms of the COVID-19 to please stay home and get medical help if or when necessary. This protects not only yourself, but myself as well as my other clients.</li>
      <li>I will not be working around any open orifice. This includes the mouth, eyes and nose. These protocols will be adhered to until further notice.</li>
      <li>Anyone that has contracted COVID-19 <span class="font-weight-bold">must</span> be cleared by having a test done which shows negative for the COVID-19 virus. Proof of this must be made available to me before I will work on a client.</li>
    </ol>

    <p>As a small business owner, I appreciate each and everyone of my clients. This is a time of watching out for one another and being proactive. We <span class="font-weight-bold">will</span> get through this challenge in our lives by putting one foot in front of the other.</p>

    <p>Please check our <a href="/services/electrolysis/">frequently asked questions</a> for more information on electrolysis, the products we use, and the services we offer. All customers are welcome and appreciated. Referrals are the greatest compliment you can give me.
    </p>
  </div>

  <div class="col-12 col-md-4 order-1 order-md-2 mb-3 text-center small">
    <img id="profile-picture" class="img-fluid" src="/images/diane-2018.jpg" alt="Diane C. Christofferson" />
    <div class="font-weight-bold mb-1">Diane C. Christofferson</div><em>Certified Professional Electrologist,<br />Licensed Cosmetologist, Licensed Esthetician<br />Certified Natural Health Professional</em>
  </div>
</div>

<%= include src/templates/partials/footer.ejs %>
