<%= include src/templates/partials/header.ejs %>

<div class="mr-0 mr-md-5">
  <h5 class="mb-3">Advanced Wellness</h5>

  <p>My wellness training has been achieved over 20+ years. I am a Certified Natural Health Professional, certified through the National Association of Certified Natural Health Professionals in March of 2014, and have a Certificate of Completion in a Naturopathic Wellness Coaching Course, through Dr. Sheryl Duchess, N.D. from Florida in September of 2015.</p>

  <p>Additionally, I recently completed the prescribed course of student in Western Herbology, Tridology, Practicum, Nutrition and Body Systems, through the National Association of Certified Natural Health Professionals, in addition to training as a Home Herbalist (Level 1 & 2), as of May 12, 2020.</p>  

  <p>I have been using and educating myself about FDA-approved LED photo-rejuvenation skin therapy and IonizeMe Ionic Detoxification for over a decade.</p>

  <p>I am by no means a medical doctor, nor do I prescribe in any way. Perhaps the best way to describe me is as a &ldquo;whole-body wellness person&rdquo;. Over my many years in business, I have studied extensively in the natural health and wellness of the body.</p>

  <p>As of March 2019, I will be persusing a home herbalist certificate as part of my constant pursuit of continuing education.</p>
</div>

<%= include src/templates/partials/footer.ejs %>
