<%= include src/templates/partials/header.ejs %>

<p>The technology of IonizeMe Ionic Detoxification system has been in development for several decades.  The induction of alternating positive and negative ion charges during the same treatment is based on a process called &ldquo;Iontophoreis&rdquo;.</p>

<p>The FDA approved Iontophoresis as a healing modality in 1970.</p>

<div class="row">
  <div class="col-12 col-md-8 col-lg-7">
    Ionic detoxification has been known to:</p>
    <ul>
      <li>
        <div>Remove toxics, free radicals, and waste products that can cause health problems.</div>
      </li>
      <li>
        <div>Remove metals and arsenic.</div>
      </li>
      <li>
        <div>Raise pH levels.</div>
      </li>
      <li>
        <div>Inactivate viruses, bacteria, yeast, and fungus.</div>
      </li>
      <li>
        <div>Relieve pain and tension including headaches.</div>
      </li>
      <li>
        <div>Purify the blood and lymph nodes.</div>
      </li>
      <li>
        <div>Increase peripheral circulation.</div>
      </li>
      <li>
        <div>Stimulate and balance the immune system.</div>
      </li>
      <li>
        <div>Enhance nutrient absorption.</div>
      </li>
      <li>
        <div>Reduce inflammation and unwanted water retention.</div>
      </li>
      <li>
        <div>Help clear up skin.</div>
      </li>
      <li>
        <div>Assist in weight loss.</div>
      </li>
      <li>
        <div>Slow down aging and improve body flexibility.</div>
      </li>
      <li>
        <div>Quicken recovery time from disease or injury.</div>
      </li>
      <li>
        <div>Increase H2O in body.</div>
      </li>
      <li>
        <div>Rejuvenate and energize your whole body.</div>
      </li>
      <li>
        <div>Improve sleep.</div>
      </li>
    </ul>
  </div>

  <div class="col-12 col-md-4 col-lg-5 mt-0 mt-md-4 mb-3">
    <div class="map-responsive text-center">
      <iframe class="border" width="560" height="315" src="https://www.youtube.com/embed/7a0QG9KplHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="small text-muted text-center">The IonizeMe&trade; Ionic Detoxification System</div>
  </div>
</div>

<p>The recommended treatment protocol for the average healthy adult is two 30 minute sessions twice per week for five weeks, followed by a maintenence program of one session every 7-10 days.  Therapeutic oils will be an option after each treatment.</p>


<%= include src/templates/partials/footer.ejs %>
