<%= include src/templates/partials/header.ejs %>

<h5>How does electrolysis work? Is it painful?</h5>
<p>Electrolysis is the <em>only</em> medically recognized method of permanent hair removal for all types of hair. Please <a href="../files/electrology.pdf">read our brochure</a> to learn more about how electrolysis works.</p>

<h5>How much does it cost?</h5>
<p>Information about my prices can be found on the <a href="/pricing/">pricing</a> page. In addition to my normal low prices, I also offer 5-hour packages to further increase affordability.</p>

<h5>Do you accept transgender patients?</h5>
<p>Absolutely! I have worked with many transgender patients over the years to help them successfully complete their transition. Hair removal is one of the most important parts of a successful transition and should be begun as soon as possible to allow time to complete treatments.</p>

<h5>Are there any side effects to electrolysis?</h5>
<p>During electrolysis, you may notice a slight metallic taste in your mouth, during facial electrolysis.  This is no cause for alarm; depending on your body chemistry, this may result as an interaction between your taste buds and the galvanic current.  If you find it unpleasant, sucking on a lemon drop or mint should mask the taste.<br /><br />
After electrolysis, it is common to experience some redness and tenderness in the treated areas.  This is normal and should fade within a day or so.

<h5>How long have you been performing electrolysis?</h5>
<p><img src="/images/aea_gold_logo.jpg" class="float-left mr-3" width="96" height="73" />I have been performing electrolysis in the Twin Cities area for over 20 years. Between my years of experience and my continuing education, you can be assured of top-quality, successful electrolysis. I am a Certified Professional Electrologist (CPE), Licensed Cosmetologist (LC), Licensed Esthetician (LE), Board Certified, and a standing member of the American Electrology Association</a>.</p>

<h5>Do you offer laser hair removal?</h5>
<p>I do not offer laser hair removal.  I believe that focusing exclusively on electrolysis has allowed me to become an expert in the field.</p>
<p>Laser hair removal has not been proven to be a permanent method of hair removal &mdash; only &quot;hair reduction&quot; &mdash; and can furthermore only reduce hair that has a large amount of melanin.</p>
<p>I do have knowledge of laser hair removal, so if you have any questions on laser hair removal versus electrolysis, please feel free to call.</p>

<h5>Which method of electrology do you use?</h5>
<p>I use thermolysis, galvanic, and the blend method. An assessment is done during the consultation with the client as to the method that will be used to remove the hairs.</p>

<h5>What equipment do you use?</h5>
<p><img src="/images/fdaacleared.gif" class="float-left mr-3" width="71" height="45" />I use FDA-Cleared Essense epilators, designed and manufactured in the USA by Clareblend. Their digital technology provides precision and increased client comfort.<br clear="all" /></p>
<p>I adhere to strict sterilization standards. Every piece of equipment that the client comes in contact with has been sterilized. Sterilization will be addressed at the time of each client's consultation.</p>
<p>In addition, customers will be treated with all-natural aloe vera gel after each session.</p>

<h5>Do you offer sessions longer than one hour?</h5>
<p>Unfortunately, sessions are limited to one hour to insure the physical well-being of your skin and to protect my health.</p>

<%= include src/templates/partials/footer.ejs %>
