<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="<%= htmlWebpackPlugin.options.constants.author %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.constants.name %>">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.constants.name %>">

    <!-- favicon stuff -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/images/favicons/favicon-196x196.png">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <page class="container"><div class="row"><div class="col-12 px-1 px-md-3">
    <header class="mt-1 mt-md-3 mb-4 mb-md-5">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light bg-white px-0">
                <button class="navbar-toggler" aria-label="Contact Us">
                    <a href="/contact/">
                        <img class="phone-icon d-md-none" src="/images/phone.svg">
                    </a>
                </button>

                <span class="navbar-brand m-auto m-md-0">
                    <a href="/">
                        <img class="logo d-inline-block d-md-none" src="/images/logo/logo-sm.svg" alt="Aark Electrolysis">
                        <img class="logo d-none d-md-inline-block d-lg-none" src="/images/logo/logo-md.svg" alt="Aark Electrolysis">
                        <img class="logo d-none d-lg-inline-block" src="/images/logo/logo-lg.svg" alt="Aark Electrolysis">
                    </a>
                </span>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-dropdown" aria-controls="navbar-dropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse pull-right" id="navbar-dropdown">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/contact/">
                                Contact
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pricing/">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="services-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="services-dropdown">
                                <a class="dropdown-item" href="/services/electrolysis/">Electrolysis</a>
                                <a class="dropdown-item" href="/services/ionic-detoxification/">Ionic Detoxification</a>
                                <a class="dropdown-item" href="/services/led-light-therapy/">LED Light Therapy</a>
                                <a class="dropdown-item" href="/services/wellness/">Wellness</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="services-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Social</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="services-dropdown">
                                <a class="dropdown-item" href="https://blog.aarkelectrolysis.com/">Blog</a>
                                <a class="dropdown-item" href="https://www.facebook.com/Aark-Advanced-Electrolysis-Advanced-Wellness-499489226836066/">Facebook</a>
                                <a class="dropdown-item" href="https://www.linkedin.com/in/diane-christofferson-a1324510/">LinkedIn</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- main content -->
    <div class="container">
