@import '_bootstrap.scss';
@import '~bootstrap/scss/bootstrap';
@import '~ekko-lightbox/dist/ekko-lightbox';


// colors
@media (min-width: 1140px) {
  body {
    background-color: $gray-100;
  }
}

page {
  background-color: $white;
  display: block;
  height: 100%;
  min-height: 100vh;
}

// header
.logo, .phone-icon {
  height: 42px;
}

.phone-icon {
  height: 30px;
  width: 30px;
}

#profile-picture {
  border: solid 2px rgba(0, 0, 0, 0.5);
}


// contact us page
.map-responsive {
    overflow: hidden;
    padding-bottom: 75%;
    position: relative;
    height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}


// education
.ekko-lightbox .modal-footer {
  justify-content: flex-start;
}
